* {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

body {
    background-color: white;
}

header {
    position: sticky;
    top: 0;
    background-color: #bac0e7;
    color: #232946;
    z-index: 2;
}

a {
    text-decoration: none;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    height: 45px;
    list-style: none;
    gap: 1rem;  
    justify-content: flex-end;
    padding-right: 10px;
}

.logo {
    justify-self: flex-start;
    flex: 5;
    margin-left: 10px;
    font-size: 24px;
}

.nav-list a {
    color: #fffffe;
    font-weight: bold;
    font-size: 20px;
}

.active { 
    text-decoration: underline; 
}

main {
    display: grid;
    grid-template-columns: 10% repeat(1, minmax(5rem, 1fr)) 10%;
}

.reviewContainer {
    grid-column: 2/3;
    margin-top: 20px;
    height: 100vh;
    width: 100%;
}

h3 {
    margin: 15px 0px 15px 0px;
}

.review {
    padding: 20px;
    margin: 20px;
    background-color: #ffc6c7;
}

p {
    padding: 5px 0px;
}

footer {
    background-color: grey;
    text-align: center;
    padding: 10px 0px;
    bottom: 0;
}